.body_container {
    display: flex;
    height: 80vh;
    margin-top: 25px;;
    background-color: #c1b9bc;
    background-color: #8d888a;
    background-color: #6e696b;
    background-image: url('../../../public/cardboard-flat.png');
}

.body_outcome_container {
    /* display: none; */
}