.body_container {
    display: flex;
    height: 88vh;
    background-color: #f7fff7;
    background-color: #eee5e9;
    background-image: url('../../../public/cardboard-flat.png');
}

.body_outcome_container {
    /* display: none; */
}