.flip_container {
    display: flex;
    flex: .75;
    flex-direction: column;
    align-items: center;

    background-color: bisque;
    background-image: url('../../../public/black-paper.png');
    background-color: #ffe4c4;
  
    background-image: url('../../../public/cardboard.png');
    border-radius: 4px;
    border: 1px solid black;
    overflow-y: auto;
    border-radius: 60px 60px 120px 80px;
    border: 1px solid black;
    margin-right: 25px;
    margin-left: 25px;
    -webkit-box-shadow: 10px 10px 27px 16px rgba(0,0,0,0.22);
    -moz-box-shadow: 10px 10px 27px 16px rgba(0,0,0,0.22);
    box-shadow: 10px 10px 27px 16px rgba(0,0,0,0.22);
    border: 2px solid black;
    text-shadow: 4px 4px 5px rgb(43, 43, 43);
    text-shadow: 4px 4px 5px rgb(43, 43, 43);
    text-shadow: rgb(147, 147, 147) 1px 0 1px;
    

}

.flip_container-title {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;

    padding: 1rem 1rem;
       text-decoration: underline;
}

.flip_container-logs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.flip_container-logs-log {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.25rem;
    margin-bottom: 1rem;
    padding: 10px;
    /* background-color: rgb(117, 103, 139); */
    background-image: url('../../../public/cardboard.png');

    border: 2px solid black;
    border-radius: .5rem;
}