
.outcome_container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: burlywood;
    background-image: url('../../../public/cardboard.png');
  
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    margin-left: auto;
    margin-right:  auto;
    width: 20%;
    height: 35%;
    border-radius: 16px;
    border: 2px solid black;
    box-shadow: #422800 1px 1px 0 0;
    -webkit-box-shadow: 0px 0px 27px 25px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 0px 27px 25px rgba(0,0,0,0.29);
    box-shadow: 0px 0px 27px 25px rgba(0,0,0,0.29);
    font-family: 'Abril Fatface', cursive;
          text-shadow: 1px 1px 1px rgb(0, 0, 0);
          text-shadow: 2px 2px 2px rgb(114, 110, 110);
          text-shadow: 2px 2px 2px rgb(90, 87, 87);
          color: #050607;
          
}

.outcome_container div {
    padding: 10px 0px;
    font-size: 1.25rem;;
    font-family: 'Abril Fatface', cursive;
          text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.coin_container-main_reset {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    margin-left: 36px;
    font-family: 'Abril Fatface', cursive;
      text-shadow: 0px 0px 1px rgb(0, 0, 0);
    /* margin-bottom: 16px; */
}