.footer_container {
    display: flex;
    justify-content: center;
    background-color: rgb(114, 117, 116);
    background-image: url('../../../public/black-paper.png');
    margin-top: auto;

    min-height: 5vh;
}