
.app_container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../public/cardboard-flat.png');
    background-color: #898285;
}
