
.app_container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../public/cardboard-flat.png');
    background-color: #c1b9bc;
    background-color: #8d888a;
    background-color: #6e696b;
}
